input {
    kafka {
    codec => json
    topics => ["{{ topic_id }}"]
    bootstrap_servers => "{{ bootstrap_servers }}"
    security_protocol => "SASL_SSL"
    sasl_mechanism => "PLAIN"
    jaas_path => "/etc/logstash/conf.d/jaas"
}
    }


filter {

    json { source => "message" }
    split { field => "records" }

    }



output {

  loki {

        url => "http://gateway:3100/loki/api/v1/push"
        insecure_skip_verify => true

    }

  }